.Header {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  margin-bottom: 30px;
  background-color: #477eff;
  color: white;
  font-weight: bold;
  align-items: center;
}

.StatusContainer {
  display: flex;
  justify-content: end;
  gap: 5px;
}